@model CasinoApp.Entities.Empleado.EmpleadoDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Edit</h1>

<h4>EmpleadoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group">
                <label asp-for="NombreEmpleado" class="control-label"></label>
                <input asp-for="NombreEmpleado" class="form-control" />
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoE" class="control-label"></label>
                <input asp-for="ApellidoE" class="form-control" />
                <span asp-validation-for="ApellidoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoIdentificacionE" class="control-label"></label>
                <input asp-for="IdTipoIdentificacionE" class="form-control" />
                <span asp-validation-for="IdTipoIdentificacionE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificacionE" class="control-label"></label>
                <input asp-for="IdentificacionE" class="form-control" />
                <span asp-validation-for="IdentificacionE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoEmpleadoE" class="control-label"></label>
                <input asp-for="IdTipoEmpleadoE" class="form-control" />
                <span asp-validation-for="IdTipoEmpleadoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupoEE" class="control-label"></label>
                <input asp-for="IdGrupoEE" class="form-control" />
                <span asp-validation-for="IdGrupoEE" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InternoE" /> @Html.DisplayNameFor(model => model.InternoE)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NombreGrupoEmpleadoE" class="control-label"></label>
                <input asp-for="NombreGrupoEmpleadoE" class="form-control" />
                <span asp-validation-for="NombreGrupoEmpleadoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreTipoEmpleadoE" class="control-label"></label>
                <input asp-for="NombreTipoEmpleadoE" class="form-control" />
                <span asp-validation-for="NombreTipoEmpleadoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreTipoIdentificacionE" class="control-label"></label>
                <input asp-for="NombreTipoIdentificacionE" class="form-control" />
                <span asp-validation-for="NombreTipoIdentificacionE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
