@model CasinoApp.Client.Mvc.Models.ViewModels.CuTipoProductoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="producto.NombreProducto" class="control-label"></label>
                <input asp-for="producto.NombreProducto" class="form-control" />
                <span asp-validation-for="producto.NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producto.FechaVencimientoProducto" class="control-label"></label>
                <input asp-for="producto.FechaVencimientoProducto" class="form-control" />
                <span asp-validation-for="producto.FechaVencimientoProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdTipoProducto">Tipo de producto</label>
                <select asp-for="producto.IdTipoProducto" class="form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var Grupo in Model.TipoProducto)
                    {
                        <option value="@Grupo.IdTipoProducto">@Grupo.TipoProducto</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
