@model CasinoApp.Client.Mvc.Models.ViewModels.CUCostoCasinoViewModels

@{
    ViewData["Title"] = "Create";
}


<div class="row text-center">
    <div class="col-md-12">
        <h3>Crear costos del casino</h3>
    </div>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label asp-for="CostoCasino.PrecioC" class="control-label">Precio</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="CostoCasino.PrecioC" class="form-control" />
                    <span asp-validation-for="CostoCasino.PrecioC" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="IdTipoComida">Tipo Comida</label>
                </div>
                <div class="col-md-8">
                    <select asp-for="CostoCasino.IdTipoComida" class="form-control">
                        <option value="">Seleccione...</option>
                        @foreach (var tipoComida in Model.TipoComida)
                        {
                            <option value="@tipoComida.Id">@tipoComida.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row g-3 align-items-center">
                <div class="col-md-4">
                    <label for="IdGrupoEmpleado">Grupo funcionario</label>
                </div>
                <div class="col-md-8">
                    <select asp-for="CostoCasino.IdGrupoEmpleado" class="form-control">
                        <option value="">Seleccione...</option>
                        @foreach (var grupoEmpleado in Model.GruposEmpleado)
                        {
                            <option value="@grupoEmpleado.Id">@grupoEmpleado.NombreGrupo</option>
                        }
                    </select>
                </div>
            </div>
            <center>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <button type="submit" value="Crear" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                            Crear
                        </button> |
                        <a asp-action="Index" class="text-decoration-none">
                            <button value="Volver" class="btn btn-sm btn-secondary" type="button">
                                Volver
                            </button>
                        </a>
                    </div>
                </div>
            </center>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}