@model CasinoApp.Entities.CostoCasino.CostoCasinoDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CostoCasinoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrecioC" class="control-label"></label>
                <input asp-for="PrecioC" class="form-control" />
                <span asp-validation-for="PrecioC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoComida" class="control-label"></label>
                <input asp-for="IdTipoComida" class="form-control" />
                <span asp-validation-for="IdTipoComida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupoEmpleado" class="control-label"></label>
                <input asp-for="IdGrupoEmpleado" class="form-control" />
                <span asp-validation-for="IdGrupoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreGrupoEmpleado" class="control-label"></label>
                <input asp-for="NombreGrupoEmpleado" class="form-control" />
                <span asp-validation-for="NombreGrupoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreTipoComida" class="control-label"></label>
                <input asp-for="NombreTipoComida" class="form-control" />
                <span asp-validation-for="NombreTipoComida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
