@model CasinoApp.Client.Mvc.Models.ViewModels.CUCostoCasinoViewModels

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CostoCasinoDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CostoCasino.IdCostoCasino" />
            <div class="form-group">
                <label asp-for="CostoCasino.PrecioC" class="control-label"></label>
                <input asp-for="CostoCasino.PrecioC" class="form-control" />
                <span asp-validation-for="CostoCasino.PrecioC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdTipoComida">Tipo Comida</label>
                <select asp-for="CostoCasino.IdTipoComida" class="form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var tipoComida in Model.TipoComida)
                    {
                        <option value="@tipoComida.Id">@tipoComida.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="IdGrupoEmpleado">Tipo Comida</label>
                <select asp-for="CostoCasino.IdGrupoEmpleado" class="form-control">
                    <option value="">Seleccione...</option>
                    @foreach (var grupoEmpleado in Model.GruposEmpleado)
                    {
                        <option value="@grupoEmpleado.Id">@grupoEmpleado.NombreGrupo</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
